DEBUG=true
SECRET_KEY=SOMEKEY
ALLOWED_HOSTS=*

CORS_ORIGIN_ALLOW_ALL=false
CORS_ALLOW_CREDENTIALS=false

DB_HOST=localhost
DB_PORT=3306
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password

QDRANT_HOST=localhost
QDRANT_PORT=6333
COLLECTION_NAME=collection_name
EMBEDDING_MODEL=embedding_model
